html, body {
  font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.conversation-box {
  flex: 1;
  display: flex;
  overflow: auto;
}

.conversation-view {
  width: 100%;
  padding: 16px;
  display: flex;
  overflow-y: scroll;
  flex-flow: column;
  flex: 1;
}

.message-box {
  width: 100%;
  padding: 20px 20px;
  border-top: 1px solid gray;
}

.text-input {
  width: 100%;
  border: none;
  padding: 5px;
}

.chat-bubble {
  font-size: 20px;
  margin-bottom: 20px;
  width: 100%;
  min-height: auto;
}

.chat-bubble.ai {
  justify-content: flex-start;
}

.chat-bubble.ai .chat-content {
  background-color: #F1F3F4;
  color: #202124;
}

.chat-content {
  display: inline-block;
  padding: 8px 15px;
  background-color: #D2E3FC;
  color: #174EA6;
  border-radius: 20px;
}

.human > .chat-content {
  float: right;
}
